extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sAdvanteges/_sAdvanteges.pug
include ../blocks/sServises/_sServises.pug
include ../blocks/sSeeAlso/_sSeeAlso.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Щебень'
	title= title
block pagecontent
	//- +mob-mnu()
	+top-nav()
	+head(title)
	+sContent()
		p Компания МегатонБетон поставляет три основных вида щебня: #[strong гравийный, гранитный и&nbsp;известняковый.]

		ul
			li #[strong Щебень гравийный]&nbsp;&mdash; материал, который производится в&nbsp;результате просеивания карьерной породы или дробления каменной скалы. Основным нормативным документом для производства этого вида щебня является ГОСТ 8267-93. По&nbsp;прочности на&nbsp;сжатие этот вид щебня уступает гранитному материалу. Гравийный щебень применяется в&nbsp;качестве заполнителя для железобетонных конструкций и&nbsp;изделий, активно используется в&nbsp;гражданском строительстве, при устройстве снований и&nbsp;покрытий пешеходных дорог и&nbsp;площадок. Фракции поставляемые нашей компанией 3-10, 5-20, 5-40, 20-40 и&nbsp;40-70.
			li #[strong Щебень гранитный]&nbsp;&mdash; нерудный строительный материал, который извлекается из&nbsp;твердой породы. Монолитная скала представляет собой застывшую магму, которая находится на&nbsp;значительной глубине. При производстве этого строительного материала придерживаются нормативов ГОСТ 8267-93. Фракции этого щебня: 0-5&nbsp;мм, 5-10&nbsp;мм, 5-20&nbsp;мм, 20-40&nbsp;мм, 40-70&nbsp;мм. Наиболее востребованным на&nbsp;рынке считается гранитный щебень фракции 5-20&nbsp;мм, применяющийся в&nbsp;производстве бетона и&nbsp;асфальта. Гранитный щебень применяется в&nbsp;создании железобетонных конструкций, бетона высоких марок, при строительстве оснований дорог и&nbsp;железнодорожных путей, площадок и&nbsp;тротуаров.
			li #[strong Щебень известняковый]&nbsp;&mdash; твердый природный материал, который получают путем механического дробления горных пород в&nbsp;карьере. После просеивания по&nbsp;нормативам отбираются фракции щебня, которые затем применяются в&nbsp;различных направлениях&nbsp;&mdash; от&nbsp;прокладывания автомагистралей до&nbsp;благоустройства клумб.
			br

		.row
			mixin item(i, t)
				.col-md-4
					+e.item(href=`img/@2x/04-2-${i}.jpg` data-fancybox="bstonegal")
						img(src=`img/@2x/04-2-${i}.jpg` loading="lazy", alt="")
					+e.DIV.title!= t

			+item(1, `Щебень гравийный`)
			+item(2, `Щебень гранитный`)
			+item(3, `Щебень известняковый`)
		br
		p: strong Компания МегатонБетон поставит щебень в&nbsp;день заказа по&nbsp;минимальным ценам:
		br
		table
			thead
				tr
					th Наименование
					th Фракция
					th Единица измерения
					th Стоимость с&nbsp;НДС за&nbsp;м3/руб
			tbody
				mixin tr(t1,t2,t3)
					tr
						td= t1
						td= t2
						td м#[sup 3]
						td= t3
				+tr('Щебень гравийный','5-20 / 20-40 / 40-70','1850 ₽')
				+tr('Щебень гранитный','5-20 / 20-40 / 40-70','2100 ₽')
				+tr('Щебень известняковый','5-20 / 20-40 / 40-70','1500 ₽')
		br
		br
		+e.form-block
			+b.section-title--before.text-center
				h2 Заказать щебень
				+e.text Оставьте заявку и&nbsp;наши сотрудники свяжутся с&nbsp;вами в&nbsp;кратчайшие сроки
			+form-h(`Отправить заявку`)

	//- +sAdvanteges
	//- +sServises
	//- +sSeeAlso
	+footer()


	