extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sAdvanteges/_sAdvanteges.pug
include ../blocks/sServises/_sServises.pug
include ../blocks/sSeeAlso/_sSeeAlso.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Лаборатория'
	title= title
block pagecontent
	//- +mob-mnu()
	+top-nav()
	+head(title)
	+sContent()
		p Компания МегатонБетон имеет собственную аккредитованную лабораторию для контроля как входящего сырья так и&nbsp;исходящей продукции для вашей стройки. Все отгрузки контролируются забором проб и&nbsp;исследования их&nbsp;на&nbsp;соответствие марки заказанного бетона. При необходимости наша компания предоставит Вам услуги нашей лаборатории. Выезд специалиста на&nbsp;ваш обьект на&nbsp;следующий день после заявки по&nbsp;разумной цене. Все заключения по&nbsp;исследованиям выдаются на&nbsp;официальном бланке и&nbsp;имеют юридическую силу.

		br
		+e.row-servises.row
			mixin item(i)
				.col-md-4
					+e.item(href=`img/@2x/lab-${i}.jpg` data-fancybox="sandgal")
						img(src=`img/@2x/lab-${i}.jpg` loading="lazy", alt="")

			+item(1)
			+item(2)
			+item(3)
		br
		br
		p: strong Прайс-лист на&nbsp;услуги лаборатории:
		br
		table
			thead
				tr
					th Бетоны / растворы
					th Единица измерения
					th Стоимость работ, руб
			tbody
				mixin tr(t1,t2,t3)
					if block
						block
					else
						tr
							td= t1
							td= t2
							td= t3
				+tr('Определение влажности бетона, раствора','1 образец','200 ₽')
				+tr('Определение водопоглощения бетона','1 образец','250 ₽')
				+tr('Определение водонепроницаемости бетона по контр. обр. и определение водонепроницаемости конструкции. (экспресс-метод)','1 испытание','от 2000 до 10000 ₽')
				tr
					td(rowspan="2") Испытание на&nbsp;прочность при сжатии бетонных (растворных) образцов-кубов
					td Бетон
					td 250 ₽
				tr
					td 1 образец
					td 700 ₽
				tr
					td
					td(colspan="2") #[strong Раствор / 3 образца]
				+tr('Определение удобоукладываемости бетонной (растворной) смеси.','1 испытание','400 ₽')
				+tr('Определение пористости (воздухосодержания) бетонной смеси в лаборатории Исполнителя','1 испытание','1500 ₽')
				+tr('Определение расслаиваемости бетонной (растворной) смеси в лаборатории Исполнителя','1 испытание','1500 ₽')
				+tr('Определение сохраняемости бетонной смеси','1 испытание','2000 ₽')
				+tr('Подбор состава бетона, раствора из материалов Заказчика','1 класс / марка','45000 ₽')
				tr
					td(rowspan="2") Лабораторное сопровождение бетонной смеси на&nbsp;объекте по&nbsp;заявка Заказчика
					td(colspan="2") #[strong На материалах Заказчика]
				tr
					td 1 час / 1 день
					td 600 ₽ / 5000 ₽
				tr
					td(rowspan="2") Статистический контроль прочности по&nbsp;данным Заказчика
					td(colspan="2") #[strong 1 человек]
				tr
					td 1 марка
					td 3500 ₽

		br
		br
		+e.form-block
			+b.section-title--before.text-center
				h2 Заказать услуги лаборатории
				+e.text Оставьте заявку и&nbsp;наши сотрудники свяжутся с&nbsp;вами в&nbsp;кратчайшие сроки
			+form-h(`Отправить заявку`)

	+footer()


	