extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
//- include ../blocks/sAdvanteges/_sAdvanteges.pug
//- include ../blocks/sServises/_sServises.pug
//- include ../blocks/sSeeAlso/_sSeeAlso.pug
//- include ../blocks/sBMaterials/_sBMaterials.pug
//- include ../blocks/SMarks/_SMarks.pug
include ../blocks/sArticals/_sArticals.pug
include ../blocks/sDiscount/_sDiscount.pug
include ../blocks/sCalc/_sCalc.pug
block variables
	- let  mainPage= null
block title
	- let  title= 'Уход за бетоном после заливки'
	title= title
block pagecontent
	//- +mob-mnu()
	+header()
		+top-nav()
	+head2(title)
	+sContent
		+e.head-img-wrap.bg-wrap
			+pic("head-artical",'bg',0)(class="picture-bg") 
		p Большинство начинающих строителей уверены, что после освобождения бетона от опалубки при затвердевании раствора заканчивается вся необходимая работа. Вот только такой подход неверен. Немалое значение имеет последующий уход за залитым бетоном.
		br
		br
		h2: strong Причины необходимости ухода
		br
		p Насколько прочной получится застывшая #[strong бетонная конструкция], напрямую зависит от&nbsp;степени оптимальности гидратационных условий. Если не&nbsp;придать им&nbsp;значения, то&nbsp;в&nbsp;итоге есть вероятность получить изделие с&nbsp;трещинами и&nbsp;иными повреждениями. Осуществление работ по&nbsp;уходу&nbsp;&mdash; важная процедура, требующая приложения конкретных усилий, иначе это негативно скажется на&nbsp;прочностных #[a(href="#") характеристиках бетона], и&nbsp;возникнет опасность разрушения бетонной конструкции. Требуется провести комплексные мероприятия по&nbsp;обеспечению соответствующих условий для смеси из&nbsp;бетона, чтобы в&nbsp;итоге получить прочное изделие.

		p Основными задачами проводимых работ по&nbsp;уходу за&nbsp;затвердевающим бетоном после его залива являются:
		ul
			li сокращение возможности пластической усадки;
			li обеспечение прочности;
			li исключение влияния температурных перепадов;
			li предотвращение излишнего и раннего пересыхания;
			li гарантия длительности эксплуатации;
			li предотвращение механических и химических воздействий.
		br
		br
		+e.slider-wrapper
			+e.slider--js.swiper-container
				.swiper-wrapper
					- for (var x = 0; x < 15; x++)
						+e.slide.swiper-slide
							img.swiper-slide.swiper-lazy(src="#" data-src="img/@2x/slide.jpg", alt="")
				.swiper-pagination
			+arrow
		h2: strong Правила проведения работ по уходу
		br
		p Работы по&nbsp;уходу за&nbsp;основанием после осуществления заливки можно считать законченными в&nbsp;ситуациях, когда получено минимум&nbsp;65% прочности или срока осуществления распалубки, имеющего под собой конкретное техническое обоснование. Первым делом после заливки бетонной смеси необходимо обследовать опалубку для поиска дефектов, приводящих к&nbsp;протеканиям и&nbsp;последующему нарушению конструкции. При обнаружении изъянов необходимо их&nbsp;исправить до&nbsp;момента застывания бетона. Этот период в&nbsp;среднем занимает не&nbsp;более двух часов.
		br
		.row
			mixin item(i, t)
				.col-md-4
					+e.item(href=`img/@2x/04-2-${i}.jpg` data-fancybox="bstonegal")
						img(src=`img/@2x/04-2-${i}.jpg` loading="lazy", alt="")
					+e.DIV.title!= t

			+item(1, `Щебень гравийный`)
			+item(2, `Щебень гранитный`)
			+item(3, `Щебень известняковый`)
		br
		br
		h2: strong Свойства бетона #[span М200 класса B15]
		br
		table
			-
				let tab = {
					"Класс/прочность":"B15",
					"Морозостойкость	":"F100",
					"Водонепроницаемость	":"W4",
					"Средняя плотность	":"196 кгс/кв.см",
					"Подвижность":"П4",
					"Жесткость":"Ж1",
					"Добавки	":"Пластифицирующие",
					"Это смесь	":"Да", 
				}
			each t1, t2 in tab
				tr
					td.w-50= t1
					td.w-50= t2
		br
		br
		h5: strong Заказ от производителя с доставкой
		br
		ol
			li  сокращение возможности пластической усадки;
			li  обеспечение прочности;
			li  исключение влияния температурных перепадов;
		br
		+e.warning 
			+icon("info")
			strong Вся продукция компании МегатонБетон соответствует нормативным документам&nbsp;&mdash; ГОСТам 22690-2015 и&nbsp;10180-2012 и&nbsp;СНиПам 5.01.23-83 и&nbsp;2.03.11-85.
		br
		br
		h6: strong Заказ от производителя с доставкой
		+sCalcSm()
		p Работы по уходу за основанием после осуществления заливки можно считать законченными в ситуациях, когда получено минимум 65% прочности или срока осуществления распалубки, имеющего под собой конкретное техническое обоснование. Первым делом после заливки бетонной смеси необходимо обследовать опалубку для поиска дефектов, приводящих к протеканиям и последующему нарушению конструкции. При обнаружении изъянов необходимо их исправить до момента застывания бетона. Этот период в среднем занимает не более двух часов.
	
		+e.form-block
			+b.section-title--before.text-center
				h2 Форма заявки
				+e.text Оставьте заявку и&nbsp;наши сотрудники свяжутся с&nbsp;вами в&nbsp;кратчайшие сроки
			+form-h(`Отправить заявку`)
		
		+e.footer
			.row
				.col
					+e.btn-back(href="#")
						+icon('chevron-left')
						| Вернуться назад
				.col-sm-auto
					.row
						.col-auto Поделиться:
						.col-auto
							<script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
							<script src="https://yastatic.net/share2/share.js"></script>
							<div class="ya-share2" data-services="telegram,twitter,vkontakte,facebook,odnoklassniki"></div>
			
		//- +sBMaterials()
	//- +sAdvanteges
	//- +sServises
	//- +sSeeAlso
	+footer()


	